In [19]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [20]:
# read the csv file for location

city_data_df=pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Clouldiness,Wind Speed
0,0,Lebu,CL,2022-11-15 08:07:11,-37.6167,-73.6500,52.54,90,3,2.98
1,1,Qaanaaq,GL,2022-11-15 08:07:11,77.4840,-69.3632,0.82,82,100,2.89
2,2,Jamestown,US,2022-11-15 08:06:57,42.0970,-79.2353,35.19,80,100,8.05
3,3,Ushuaia,AR,2022-11-15 08:06:26,-54.8000,-68.3000,49.66,81,75,5.75
4,4,Pisco,PE,2022-11-15 08:07:11,-13.7000,-76.2167,62.65,82,75,2.30
...,...,...,...,...,...,...,...,...,...,...
569,569,Hay River,CA,2022-11-15 08:21:35,60.8156,-115.7999,26.58,80,40,5.75
570,570,Ilesha,NG,2022-11-15 08:21:35,7.1371,5.2583,79.43,62,100,1.61
571,571,Tarauaca,BR,2022-11-15 08:21:35,-8.1614,-70.7656,71.69,94,91,2.44
572,572,Muisne,EC,2022-11-15 08:21:36,0.6000,-80.0333,72.77,86,98,6.02
573,573,Kralendijk,BQ,2022-11-15 08:17:15,12.1500,-68.2667,82.38,83,20,9.22

In [21]:
city_data_df.dtypes

City_ID          int64
City            object
Country         object
Date            object
Lat            float64
Lng            float64
Max Temp       float64
Humidity         int64
Clouldiness      int64
Wind Speed     float64
dtype: object

In [22]:
# configure gmap key

gmaps.configure(api_key=g_key)

In [30]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

temps=[]
for temp in max_temp:
    temps.append(max(temp,0))

# Assign the figure variable.
#fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Heatmap of Humidity

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the Humidity.
humidity = city_data_df["Humidity"]


# Assign the figure variable.
#fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer_humidity = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer_humidity)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Heatmap of Cloudiness

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the cloudiness.
cloud = city_data_df["Clouldiness"]


# Assign the figure variable.
#fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer_cloud = gmaps.heatmap_layer(locations, weights=cloud, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer_cloud)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# Heatmap of Wind Speed

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the cloudiness.
wind_speed = city_data_df["Wind Speed"]


# Assign the figure variable.
#fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer_wind = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer_wind)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [38]:
# filter the location based on the temp range

preffered_city_df = city_data_df.loc[(city_data_df["Max Temp"]>= min_temp) & (city_data_df["Max Temp"]<= max_temp)]
preffered_city_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Clouldiness,Wind Speed
5,5,Carnarvon,AU,2022-11-15 08:07:12,-24.8667,113.6333,79.00,51,1,17.98
8,8,Boende,CD,2022-11-15 08:07:12,-0.2167,20.8667,77.85,91,100,0.69
11,11,Butaritari,KI,2022-11-15 08:07:13,3.0707,172.7902,80.85,81,26,8.21
17,17,Goundi,TD,2022-11-15 08:07:14,9.3627,17.3660,87.67,28,6,2.59
19,19,Waingapu,ID,2022-11-15 08:07:15,-9.6567,120.2641,84.67,73,100,5.57
...,...,...,...,...,...,...,...,...,...,...
563,563,Tiarei,PF,2022-11-15 08:21:33,-17.5333,-149.3333,77.02,85,100,7.63
565,565,Kieta,PG,2022-11-15 08:21:34,-6.2167,155.6333,80.33,77,74,2.21
566,566,Puerto Cabezas,NI,2022-11-15 08:21:34,14.0351,-83.3888,76.14,90,40,7.14
570,570,Ilesha,NG,2022-11-15 08:21:35,7.1371,5.2583,79.43,62,100,1.61
573,573,Kralendijk,BQ,2022-11-15 08:17:15,12.1500,-68.2667,82.38,83,20,9.22

In [44]:
preffered_city_df.isnull().sum()
preffered_city_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Clouldiness,Wind Speed
5,5,Carnarvon,AU,2022-11-15 08:07:12,-24.8667,113.6333,79.00,51,1,17.98
8,8,Boende,CD,2022-11-15 08:07:12,-0.2167,20.8667,77.85,91,100,0.69
11,11,Butaritari,KI,2022-11-15 08:07:13,3.0707,172.7902,80.85,81,26,8.21
17,17,Goundi,TD,2022-11-15 08:07:14,9.3627,17.3660,87.67,28,6,2.59
19,19,Waingapu,ID,2022-11-15 08:07:15,-9.6567,120.2641,84.67,73,100,5.57
...,...,...,...,...,...,...,...,...,...,...
563,563,Tiarei,PF,2022-11-15 08:21:33,-17.5333,-149.3333,77.02,85,100,7.63
565,565,Kieta,PG,2022-11-15 08:21:34,-6.2167,155.6333,80.33,77,74,2.21
566,566,Puerto Cabezas,NI,2022-11-15 08:21:34,14.0351,-83.3888,76.14,90,40,7.14
570,570,Ilesha,NG,2022-11-15 08:21:35,7.1371,5.2583,79.43,62,100,1.61
573,573,Kralendijk,BQ,2022-11-15 08:17:15,12.1500,-68.2667,82.38,83,20,9.22

In [57]:
# Create DataFrame with hotel_df to store hotel names with city, country, max temp, and coordinates.

hotel_df = preffered_city_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
5         Carnarvon      AU     79.00 -24.8667  113.6333
8            Boende      CD     77.85  -0.2167   20.8667
11       Butaritari      KI     80.85   3.0707  172.7902
17           Goundi      TD     87.67   9.3627   17.3660
19         Waingapu      ID     84.67  -9.6567  120.2641
21        Mahebourg      MU     77.25 -20.4081   57.7000
26        Geraldton      AU     81.01 -28.7667  114.6000
29        Sarangani      PH     84.20   5.4033  125.4636
35        Mogadishu      SO     82.20   2.0371   45.3438
39  Arraial Do Cabo      BR     75.06 -22.9661  -42.0278

In [58]:
# set the parameters

params ={
    "radius" : 5000,
    "type" : "lodging",
    "key" : g_key
}

In [62]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name with try and except
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found .... skipping.")

Hotel not found .... skipping.
Hotel not found .... skipping.
Hotel not found .... skipping.
Hotel not found .... skipping.
Hotel not found .... skipping.
Hotel not found .... skipping.
Hotel not found .... skipping.
Hotel not found .... skipping.
Hotel not found .... skipping.
Hotel not found .... skipping.

In [64]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Carnarvon,AU,79.00,-24.8667,113.6333,Hospitality Carnarvon
8,Boende,CD,77.85,-0.2167,20.8667,
11,Butaritari,KI,80.85,3.0707,172.7902,Isles Sunset Lodge
17,Goundi,TD,87.67,9.3627,17.3660,
19,Waingapu,ID,84.67,-9.6567,120.2641,Pondok Wisata Elim
...,...,...,...,...,...,...
563,Tiarei,PF,77.02,-17.5333,-149.3333,Le Rocher de Tahiti
565,Kieta,PG,80.33,-6.2167,155.6333,Uruna Bay Retreat
566,Puerto Cabezas,NI,76.14,14.0351,-83.3888,CabaÃ±a Caribe
570,Ilesha,NG,79.43,7.1371,5.2583,Tosap Guest House
573,Kralendijk,BQ,82.38,12.1500,-68.2667,Divi Flamingo Beach Resort & Casino

In [70]:
hotel_df.isnull().sum()

City          0
Country       3
Max Temp      0
Lat           0
Lng           0
Hotel Name    0
dtype: int64

In [67]:
# Heatmap of temperature for hotel location and marker for each city

# Get the latitude and longitude.
locations = hotel_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = hotel_df["Max Temp"]

temps=[]
for temp in max_temp:
    temps.append(max(temp,0))

# Assign the figure variable.
#fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add marker for each hotel

marker_layer = gmaps.marker_layer(locations)

# Add the heatmap layer.
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [68]:
# make the web page to give information to customer

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [69]:
# Heatmap of temperature for hotel location and marker for each city
# Adding hotel information

# Get the latitude and longitude.
locations = hotel_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = hotel_df["Max Temp"]

temps=[]
for temp in max_temp:
    temps.append(max(temp,0))

# Assign the figure variable.
#fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add marker for each hotel

#marker_layer = gmaps.marker_layer(locations)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Add the heatmap layer.
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))